:root {
  --bg: #112432;
  --white: #d3e0f0;
  /* --grey: #2a2a2a; */
  --grey: #5b666e;
  /* --primary-accent: #EC9E3D; */
  --primary-accent: #feb902;
  --secondary-accent: #adbdc9;
  --secondary-accent-light: #adbdc959;
  /* --light-headings: #182631; */
  --light-headings: #152c3a;

  --fz-xxxs: 0.6rem;
  --fz-xxs: 0.8rem;
  --fz-xs: 0.9rem;
  --fz-sm: 1rem;
  --fz-md: 1.1rem;
  --fz-lg: 1.2rem;
  --fz-xl: 1.5rem;
  --fz-xxl: 2rem;
  --fz-heading: 2.5rem;
}

/* CURSOR */
.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  /* background-color: var(--white); */
  border: 1px solid var(--white);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}
.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--white);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

.ring.hovered {
  width: 80px;
  height: 80px;
  border-width: 3px;
  border: 1px solid var(--primary-accent);
}

.dot.hovered {
  background-color: var(--primary-accent);
}

.ring.btn-hovered {
  width: 80px;
  height: 80px;
  border-width: 3px;
  border: 1px solid var(--grey);
}

.dot.btn-hovered {
  background-color: var(--grey);
}

/* NAVBAR */

.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  /* background: #0c151c; */
  background: #112432;
  box-shadow: 10px 0 #000000;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  max-width: 1500px;
}

.navbar-logo {
  color: var(--primary-accent);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: var(--white);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  height: 100%;
}

.nav-links:hover {
  color: var(--primary-accent);
  border-bottom: 2px solid var(--primary-accent);
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: var(--white);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
  color: var(--white);
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 500ms ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 500ms ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: var(--white);
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: var(--white);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--white);
    padding: 14px 20px;
    border: 1px solid var(--white);
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: var(--white);
    color: #242424;
    transition: 250ms;
  }

  .navbar .btn {
    display: none;
  }
}
/* ************************************END OF NAVBAR******************************************* */

/* BUTTON */

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  text-decoration: none;
}

.btn--primary {
  background-color: var(--primary-accent);
  color: var(--bg);
  border: 1px solid var(--primary-accent);
}

.btn--outline {
  background-color: transparent;
  color: var(--primary-accent);
  padding: 8px 20px;
  border: 1px solid var(--primary-accent);
  transition: all 0.3s ease-out;
}

.btn--medium {
  font-size: 1rem;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn-margin-top {
  padding-top: 1.5rem;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: var(--primary-accent);
  color: #242424;
  transition: 250ms;
}

/* ************************************END OF BUTTON******************************************* */

/* HERO */
#section_header {
  position: relative;
}

.hero-container img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* filter: sepia(100%); */
}

.hero-container {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.hero-container:hover {
  box-shadow: inset 0 0 0 1000px rgba(254, 187, 2, 0.041);
}

.ref > a {
  display: none;
}

.hero-container:hover .ref > a {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: var(--secondary-accent);
  font-size: var(--fz-xxs);
  opacity: 0.5;
}

.hero--heading {
  color: var(--white);
  font-weight: 400;
}

.small {
  font-size: 18px;
  margin-right: 35rem;
}

.big {
  font-size: 100px; 
}

.role {
  margin-left: 18rem;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 768px) {
  .small,
  .role {
    font-size: var(--fz-xs);
    margin: 0;
  }

  .big {
    font-size: 60px;
  }

  .hero-container {
    height: 25vh;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
  .hero-container:hover .ref > a {
    font-size: var(--fz-xxxs);
  }
}
/* ************************************END OF HERO******************************************* */

/* SECTION */
#section_about,
#section_projects,
#section_experience,
#section_contact {
  margin: 0 auto;
  padding: 100px 0px;
  max-width: 1000px;
  color: var(--white);
  display: block;
  transition: all 500ms ease-in-out;
  box-sizing: border-box;
}

#section_contact p {
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  #section_about,
  #section_projects,
  #section_experience {
    padding: 1rem 0.5rem;
  }

  .footer {
    margin: 0;
  }
}
/* TOPOGRAPHY */
.heading {
  font-size: var(--fz-xxl);
  font-weight: 600;
  padding: 0 1rem 1rem 0;
}

.heading--no {
  font-size: var(--fz-lg);
  color: var(--primary-accent);
}

.heading--numbered {
  display: inline;
}

.separator {
  display: flex;
  align-items: baseline;
  text-align: center;
  margin-bottom: 2rem;
}

.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--grey);
}

.x2::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--grey);
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.5em;
}

.center {
  text-align: center;
}

.left-align {
  text-align: right;
}

h1,
h2,
h3 {
  color: var(--white);
  padding: 0.2rem 0;
}

p {
  color: var(--secondary-accent);
  font-size: var(--fz-sm);
}

hr {
  position: relative;
  border: none;
  height: 1px;
  color: var(--primary-accent);
  background-color: var(--primary-accent);
}
a {
  text-decoration: none;
  color: var(--white);
}

.pd-1 {
  padding: 1rem 0;
}
.pd-2 {
  padding-top: 5rem;
}

/* ABOUT */

.about--content {
  width: 80%;
}

.about--paragraph {
  margin-top: 8px;
  padding: 10px;
}

.about--img {
  flex: 1 1 35rem;
}

/* LISTS */

.list {
  list-style-type: "▹";
  font-size: var(--fz-xs);
  color: var(--secondary-accent);
}

li::marker {
  color: var(--primary-accent);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  display: grid;
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 20px 0px;
}

.list--col2 {
  grid-template-columns: repeat(2, minmax(140px, 200px));
}

.list--tick .list__item {
  padding-left: 1rem !important;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* CARDS */

.card_container {
}

.card {
  position: relative;
  margin-bottom: 4rem;
  max-height: 100%;
  transition: ease-out 0.3s;
}

.card > img {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: none;
  padding: 0;
  z-index: -1 !important;
  grid-area: 1 / 6 / -1 / -1;
  opacity: 0.5;
  object-fit: cover;
  background: radial-gradient(
    circle at center,
    rgb(59, 59, 58),
    rgb(80, 70, 60) 84%
  );
  filter: grayscale(50%);
  transition: 100ms;
}

.card:hover {
  border: 1px solid var(--primary-accent);
  padding: 1rem;
}

.card:hover img {
  filter: grayscale(0%);
  background: none;
  opacity: 1;
}

.card_header {
  color: var(--primary-accent);
  margin-bottom: 0.5rem;
}

.card_contents {
  top: 20px;
  left: 20px;
  padding: 20px;
  pointer-events: none;
  grid-area: 1 / 1 / -1 / 7;
}

.card_body p {
  border-radius: 5px;
  padding: 1rem;
  background: var(--light-headings);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .card {
    margin: 0.5rem 0;
  }

  .card > img {
    filter: grayscale(0%);
    background: none;
    opacity: 0.1;
  }

  .card:hover {
    border: 1px solid var(--primary-accent) !important;
    padding: 0;
  }

  .card:hover img {
    opacity: 0.1 !important;
  }

  .card_contents {
    padding: 1.5rem;
    left: 15px;
    top: 15px;
  }

  .card_body {
    margin-left: 0.2rem;
  }

  .card_body p {
    padding: 0;
    background: none;
  }
}

/* BADGES */

.badge--container {
  margin: 1.5rem 0;
}

.badge {
  border-radius: 20px;
  /* padding: 0.5rem 2rem; */
  margin-right: 0.5rem;
  white-space: nowrap;
  border: 0.1px solid var(--primary-accent);
  text-align: end;
}

.badge--primary {
  background-color: transparent;
  color: var(--primary-accent);
}

.badge--small {
  font-size: var(--fz-xxs);
  padding: 4px 6px;
}

/* CONTAINER */

.box-container {
  display: flex;
  padding-top: 1rem;
}
.content-container {
  display: flex;
  padding-top: 1rem;
}

.grid-container {
  display: grid;
  width: 100%;
}

.grid-1 {
  grid-template-columns: 200px 1fr;
}

.grid-2 {
  grid-template-columns: 1fr 200px;
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

.grid-2:nth-of-type(2n + 1) img {
  grid-column: 1 / 8;
}

.grid-2:nth-of-type(2n + 1) .card_contents {
  grid-column: 7 / -1;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .grid-1 {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .grid-container {
    display: block;
  }
}

/* SIDEBAR */

.list-group {
  height: auto;
  border-left: solid 2px var(--light-headings);
  color: var(--secondary-accent);
}
.list-group .list--item {
  width: 100%;
  padding: 16px 18px;
  font-size: var(--fz-xs);
  list-style-type: none;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.list-group .list--item:hover {
  color: var(--primary-accent);
  background-color: var(--light-headings);
}

.active {
  color: var(--primary-accent);
  background-color: var(--light-headings);
  border-left: solid 2px var(--primary-accent);
}
@media screen and (max-width: 768px) {
  .list-group {
    display: flex;
    flex-direction: row;
  }

  .list-group .list--item {
    text-align: center;
  }

  .list-group .list--item:hover {
    border-left: none;
    border-bottom: solid 3px var(--light-headings);
  }

  .active {
    background-color: var(--light-headings);
    border-left: none;
    border-bottom: solid 2px var(--primary-accent);
  }
}

/* CONTENT */

.content--container {
  display: grid;
  grid-template: fit-content(100px) / fit-content(70%) fit-content(30%);
  grid-auto-flow: column;
  font-size: 18px;
  height: auto;
  padding: 1rem 1.2rem;
  transition: all 500ms ease;
}

.content--details {
}

.content--header {
  font-size: var(--fz-xl);
  font-weight: 550;
  line-height: 1.3;
  display: inline-block;
  position: relative;
}

.content--header:hover {
  color: var(--primary-accent);
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-accent);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.content--date {
  font-size: var(--fz-xs);
  color: var(--secondary-accent);
}

.content--desc {
  font-size: var(--fz-sm);
  color: var(--secondary-accent);
}

.content--img {
  display: grid;
  grid-template: auto;
  grid-auto-flow: row;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.content--img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 100ms;
  opacity: 0.5;
  object-fit: cover;
  background: radial-gradient(
    circle at center,
    rgb(59, 59, 58),
    rgb(80, 70, 60) 84%
  );
  filter: grayscale(50%);
}

.content--img > img:hover {
  background: none;
  border: 1px solid var(--primary-accent);
  padding: 0.3rem;
  opacity: 1;
  background: none;
  filter: grayscale(0);
}

@media screen and (max-width: 768px) {
  .content--container {
    grid-auto-flow: row;
    grid-template: fit-content(100px) / fit-content(100%);
  }

  .content--img {
    width: 100%;
    grid-auto-flow: column;
  }
  .content--img-container {
    margin-top: 2rem;
  }
}

/* IMG STYLES*/

.square--container {
  display: flex;
  flex-direction: column;
  transition: 500ms;
  padding-right: 1rem;
}

.img--sm {
  width: 15%;
}
.img--md {
  width: 25%;
}
.img--lg {
  width: 40%;
}

.square--img {
  flex: 1 1 35rem;
}

.square--img > img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
  background: radial-gradient(
    circle at center,
    rgb(59, 59, 58),
    rgb(80, 70, 60) 84%
  );
  filter: grayscale(50%);
}

.square--container:hover {
  width: 60%;
  height: 50%;
  transition: 500ms;
  padding: 0.5rem;
  margin-right: 1rem;
  border: 0.1px solid var(--primary-accent);
}
.square--img > img:hover {
  filter: none;
  transition: 500ms;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .square--container:hover {
    padding: 0;
    margin-right: 1rem;
    border: 0.1px solid var(--primary-accent);
  }
}


/* FOOTER */
.footer {
  margin: 15rem 0 1.5rem 0rem;
  text-align: center;
  color: var(--secondary-accent);
}

.footer--text {
  padding: 0 5rem;
}

.sm {
  font-size: var(--fz-xxs);
}

.footer--xxs {
  font-size: var(--fz-xxxs);
  padding-top: 0.5rem;
}

.links > a {
  padding: 0.5rem;
  height: 50;
  color: var(--secondary-accent);
  text-decoration: none;
}

.links > a:hover {
  color: var(--primary-accent);
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 1rem 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.modal-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 1rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
